
#ad-login-container {
    background: #F9F9F9;
}

html {
 height: 100%;
}
body {
  position: relative;
  min-height: 100%;
}

.ad-header{
    position: relative;
    height: auto;
    widows: auto;
    background-image: url(../img/w5.jpg);
    background-size: cover;
    color: aliceblue;

}
#ad-active-page{
  float: left;
  width: 120px;
  text-align: center;
  -webkit-tap-highlight-color: rgba( 0, 0, 0, 0);
  font-family: 'fzltqhjt',"HansHandItalic", "Microsoft Yahei";
  height: 50px;
  line-height: 50px;
  border-bottom: 4px solid #3f8dbf;
  box-sizing: border-box;
  text-decoration: none;
  cursor: pointer;

  font-size: 18px;
  color: #3f8dbf;
  background: 0 0;
  zoom: 1;
}

#ad-basic-page{
  float: left;
  width: 120px;
  text-align: center;
  -webkit-tap-highlight-color: rgba( 0, 0, 0, 0);
  font-family: 'fzltqhjt',"HansHandItalic", "Microsoft Yahei";
  height: 50px;
  line-height: 50px;
  box-sizing: border-box;
  text-decoration: none;
  cursor: pointer;

  font-size: 18px;
  color: #3f8dbf;
  background: 0 0;
  zoom: 1;
}
#ad-footer-copy{    
  color: #AAA;
  display: block;
  margin-top: 20px;
  font-size: 12px;
  text-align: center;
}

.ad-login-header {
    margin: 25px;
    /*color: aliceblue;*/
        color:darkcyan;

    font-weight: 900;
    font-size: 60px;
}

.ad-login-panel {
    max-width: 320px;
    margin: 100px auto 0;
/*    vertical-align:middle;*/
}

.ad-login-form {
/*    margin:10px 225px;*/
/*    padding:50px 200px;*/
    width: 300px;
    margin: 0 auto;
    max-width: 100%;
}

#captcha {
    
}


.navbar-brand img {
  width: 34px;
  height: 34px;
  margin: -7px 0;
  display: inline;
}

#ad-captcha {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
/*    text-align: -webkit-right;*/
/*    padding-right: 0px;*/
/*    margin-right: -15px;*/
/*    margin-bottom: 15px;*/
}




/* start */
#ad-main-wrapper {
  /*position: relative;*/
  padding: 0;

}
#ad-nav-left {
  width: 180px;
  position: absolute;
  left: 0px;
  top: 0px;
  padding-top: 51px;
  min-height: 100%;
  background-color: #F8F8F8;
  border-right: 1px solid #EEE;
  /*box-shadow: 0px 0px 6px rgba(0,0,0,.1);*/
}
#ad-nav-left .nav-pills li  {
  margin-top: 0px;
}
#ad-nav-left .nav-pills li a {
  border-bottom: 1px solid #EEE;
  box-shadow: #FFF 0 1px 0;
  border-radius: 0;
  text-align: center;
  color: #777;
}
#ad-nav-left .nav-pills li a:hover {
  color: #333;
  background-color: #F4F4F4;
}
#ad-nav-left .nav-pills li.active a {
  border-top: 1px solid #E4E4E4;
  margin-top: -1px;
  border-bottom-color: #EEE;

  background-color: #EEE;
  color: #333;
  position: relative;
}
#ad-nav-left .nav-pills li.active a::before,
#ad-nav-left .nav-pills li.active a::after
{
  content: "";
  font-size: 0;
  position: absolute;
  border-width: 6px 10px;
  border-style: solid;
  right: -2px;
  top: 50%;
  margin-top: -6px;
  z-index: 1;
}
#ad-nav-left .nav-pills li.active a::before {
  border-color: transparent #E2E2E2 transparent transparent;
  margin-right: 2px;
}
#ad-nav-left .nav-pills li.active a::after {
  border-color: transparent #FFF transparent transparent;
}
#ad-main-container {
  margin-left: 180px;
}

.nav-tabs>li {
  margin-bottom: -1px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  border: none;
  padding: 11px 16px 7px;
  border-bottom: 4px solid #337ab7;
}
.nav>li>a:focus, .nav>li>a:hover {
  background-color: #FFF;
  border: none;
  padding: 11px 16px 8px;
  border-bottom: 2px solid #337ab7;
}
/* end */